.movie-card {
    margin-left: 15px;
    margin-right: 15px;
    height: 100%;
    transition: transform 0.3s;
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
        box-shadow: 6px 6px 4px #333;
    }
}



.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
