.movie-card-col {
    padding: 20px;
}

.genre-view,
.director-view {
    padding-top: 50px;
}

.login-view,
.registration-view {
    background-image: url('../../../img/vhs-pic-sm.jpg');
    background-position-x: -370px;
    background-position-y: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ccc;
    background-blend-mode: multiply;
    height: 850px;
    padding: 50px;
    position: relative;
}

@media all and (max-width: 615px) {
    .login-view,
    .registration-view {
        padding-top: 50px;
    }
}
