.label {
    font-weight: bold;
}

.genre-label {
    font-size: 24px;
    font-weight: bold;
}

.genre-card {
    padding: 10px;
}

.back-arrow-genre {
    font-size: 40px;
    background-color: #333;
    color: #fff;
    margin-bottom: 5px;
    border-radius: 50%;
    &:hover {
        cursor: pointer;
        opacity: 0.7;
        color: #333;
        background-color: #fff;
    }
}