.registration-view {
    background-image: url('../../../img/vhs-pic-sm.jpg');
    background-position: right top;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #333;
    background-blend-mode: exclusion;
    height: 900px;
    padding: 50px;
    position: relative;
}

@media all and (max-width: 992px) {
    .registration-view {
        background-attachment: fixed;
    }
}