.movie-view {
    line-height: 30px;
}

.label {
    font-weight: bold;
}

.movie-info {
    padding: 24px;
    box-shadow: 4px 4px 6px #333;
}

.movie-title {
    font-size: 24px;
    font-weight: bold;
}

.movie-poster {
    max-width: 25rem !important;
    height: auto;
    box-shadow: 4px 4px 6px #333;
}

.back-arrow {
    font-size: 40px;
    background-color: #333;
    color: #fff;
    margin-left: 0px;
    margin-bottom: 22px;
    border-radius: 50%;
    &:hover {
        cursor: pointer;
        opacity: 0.7;
        color: #333;
        background-color: #fff;
    }
}

.fav-button {
    width: 240px;
    box-shadow: 1px 1px 2px #333;
}

@media all and (max-width: 768px) {
    .movie-view {
    padding-top: 320px;
    }
}

@media all and (max-width: 615px) {
    .movie-view {
        padding-top: 400px;
    }
}