@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.navbar {
    font-family: 'Montserrat', sans-serif;
    font-size: 18;
    padding: 10px;
}

.navbar-brand {
    font-family: 'Permanent Marker', sans-serif;
    font-size: 27 !important;
}